{% extends "adminpage/base.html" %}
{% load crispy_forms_tags %}
{% block admin_content %}


<form class="max-w-md mx-auto" method="post">

  {% for msg in messages %}
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <span class="font-medium">Success alert!</span> {{msg}}
</div>
{% endif %}

{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <span class="font-medium">Error alert!</span> {{msg}}
</div>
{% endif %}
  {% endfor %}


  {% csrf_token %}
   {{form|crispy}}
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>

{% endblock %}