h1{
    color:red;
}

/* .asteriskField{
    color: red;
    margin-left: 5px;
} */

/* .search_form p label{
    display: none;
}

.search_form p{
    display: inline;
}

.search_form p input{
    border-radius: 10px;
} */

